BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
IncludeBlocks: Regroup
DerivePointerAlignment: false
PointerAlignment: Left
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
